.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box form {
  width: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  /* border-radius: 5px; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  /* 
  flex-direction: row → kesamping (default)

flex-direction: column → ke bawah

flex-direction: row-reverse → kesamping terbalik

flex-direction: column-reverse → ke bawah terbalik */
}

form input {
  outline: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid;
}

form .text-h1 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blue;
}

.text-h1 span {
  display: inline-block;
  transform-origin: bottom;
  animation: jelly 4s ease-in 0s infinite;
}
form button {
  margin-top: 10px;
  border: 1px solid;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
}

form button:hover {
  background-color: blue;
  transition: transform 3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  color: white;
}

.text-h1 span:nth-child(1) {
  animation-delay: 0s;
  animation-duration: 1.1s;
}
.text-h1 span:nth-child(2) {
  animation-delay: 0.1s;
  animation-duration: 1.3s;
}
.text-h1 span:nth-child(3) {
  animation-delay: 0.2s;
  animation-duration: 1.15s;
}
.text-h1 span:nth-child(4) {
  animation-delay: 0.05s;
  animation-duration: 1.25s;
}
.text-h1 span:nth-child(5) {
  animation-delay: 0.15s;
  animation-duration: 1.35s;
}

@keyframes jelly {
  0% {
    transform: translateY(0) scale(1);
  }

  30% {
    transform: translateY(-10px) scale(0.9, 1.1);
  }

  50% {
    transform: translateY(0) scale(1.1, 0.9);
  }

  70% {
    transform: translateY(-5px) scale(0.95, 1.05);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}
